.Rproj.user
.Rhistory
.RData
.Ruserdata
functions/scratch.r
chapters/History/figure
chapters/History/maps
chapters/History/papers
chapters/History/history.docx
chapters/History/old
chapters/Walnut/images
chapters/Walnut/old
chapters/Walnut/walnutpredict8_cache
chapters/Walnut/walnutpredict8_files
chapters/Walnut/walnutpredict9_files
chapters/Walnut/walnutpredict9_cache
chapters/History/history_cache
chapters/History/history_files
papers/
phenoclimScratch.R
